.weui-article p {
    margin: 0;
}
.weui-cell__hd {
    position: relative;
}
.weui-flex__item  img {
    width: 22vw;
    height: 12vh;
    margin-right: 1rem;
}
.weui-article {
    padding: 0;
}
.weui-article a {
    color: unset;
}
.react-weui-swiper__wrapper {
    max-width: none !important;
}