.weui-article p {
    margin: 0;
}
.weui-cell__hd {
    position: relative;
}
.weui-flex__item  img {
    width: 22vw;
    height: 12vh;
}
.weui-article {
    padding: 0;
}
.weui-article a {
    color: unset;
}